header, footer {
  background-color: #55B455;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: #89D789;
}

.post {
  background-color: #E3F7E3;
;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}

.footer-columns {
  display: flex;
}